body {
display: grid;
grid-template-rows: [top] minmax(5%, 15%) [nav] auto [main] 1fr [base] minmax(5%, 15%);
height: 100vh;
place-items: center;
}

nav {
grid-row: nav;
}

main {
grid-row: main;
}

blockquote {
padding: 1.6rem;
}

p {
padding: 0.6rem;
}

cite {
display: block;
margin: 0.6rem 0 2.2rem 0;
}
