body {
display: grid;
grid-template-rows:  [scarf] auto [shirt] auto [slacks] 1fr [shoes] auto;

height: 100vh;
place-items: center;
}

nav {
grid-row: shirt;
}

main {
grid-row: slacks;
}

blockquote {
padding: 2rem 0 2rem 0;
}

cite {
display: block;
margin: 0.6rem 0 2.2rem 0;
}
