body {
display: grid;
grid-template-rows: [top] minmax(5%, 25%) [nav] auto [main] 1fr [base] minmax(5%, 25%);
height: 100vh;
place-items: center;
}

nav {
grid-row: nav;
}

main {
grid-row: main;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-around;
height: 100%;
}

blockquote {
    width: 100%;
}

cite {
display: block;
margin: 0.6rem 0 2.2rem 0;
}
