/*
https://moderncss.dev/container-query-solutions-with-css-grid-and-flexbox/
*/

nav {
container-type: inline-size;
container-name: navigation;
}

nav li {
    @container navigation (max-width: 2rem) {
        background-color: yellow;
    }
}

code {
font-family: monospace;
}

p:first-letter {
}
