/*
https://moderncss.dev/container-query-solutions-with-css-grid-and-flexbox/
*/

dav:has(blockquote) {
container-type: inline-size;
container-name: speech;
}

@container speech (width < 6rem) {
    blockquote {
    background-color: yellow;
    }
}

code {
font-family: monospace;
}

p:first-letter {
}
